<h3>Grid List</h3>
<div class="list">
  {#each htmlChildren as child}
  {@html child}
  {/each}
</div>

<script>
  import store from "../store";
  import TemplateEngine from "../services/TemplateEngine";

  export default {
    store: () => store,

    data() {
      return {
        htmlChildren: []
      }
    },

    tag: "sl-grid-list",

    oncreate() {
      let listener = this.store.on("resource-loaded", res => {
        let elmArr = Array.from(this.children);
        let htmlArr = [];
        // Clear the inner HTML
        this.innerHTML = "";

        // Set field id to iterate
        htmlArr = elmArr.map(elm => {
          elm.setAttribute('slrField', this.parentElement.getAttribute('source'));
          return elm.outerHTML;
        })

        this.set({
          htmlChildren: htmlArr
        });
      });
      this.on("destroy", listener.cancel);
    }
  };
</script>

<style>
  div.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>