<h3>Grid List</h3>
<div class="list" style="grid-template-columns: repeat({cols}, 1fr)">
  {#each collection as item}
    <div>{item.name}</div>
  {/each}
</div>

<script>
  import store from "../store";
  import TemplateEngine from "../services/TemplateEngine";

  export default {
    store: () => store,

    data() {
      return {
        collection: {},
        cols:3
      }
    },

    tag: "sl-grid-list",

    oncreate() {
      let listener = this.store.on("resource-loaded", res => {
        this.set({collection: res.data});
        this.set({cols: Array.from(this.children).length})
      });
      this.on("destroy", listener.cancel);
    }
  };
</script>

<style>
  div.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>