{$baseurl}/{source}
<slot></slot>

<script>
	import store from "../store";

	export default {
		store: () => store,

		tag: "sl-resource",

		props: ["source"],

		oncreate() {
			let url = `${this.store.get().baseurl}/${this.get().source}`;

			//   Fetch the resource
			let resource = fetch(url);
			resource.then(res => res.json()).then(data => {
				let resource = {
					source: this.get().source,
					data
				};
				this.store.set({
					resource
				});

				this.store.fire("resource-loaded", resource);
			});
		},
	};
</script>

<style>
</style>