{$baseurl}/{source}
<slot></slot>

<script>
	import store from "../store";

	export default {
		store: () => store,

		tag: "sl-resource",

		props: ["source"],

		oncreate() {
			let url = `${this.store.get().baseurl}/${this.get().source}`;

			//   Fetch the resource
			let resource = fetch(url);
			let collection = {
				source: this.get().source,
			}
			resource.then((res) => {
				collection.promise = res;
				return res.json();
			}).then(data => {
				collection.data = data;
				this.store.set({
					resource: collection
				});

				this.store.fire("resource-loaded", collection);
			});
		},
	};
</script>

<style>
</style>